/* -- Estilos web generales -- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('img/backgrounds/white_wood_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita el scroll del body, delegándolo al main */
}
/* -- --------------------- -- */


/* -- Estilos para la parte superior "header" -- */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: fixed; /* Mantiene el header fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté sobre el contenido */
}

header h1 {
  font-size: 24px;
  margin: 10px 0;
  padding: 0; 
  line-height: 1.2;
}

#auth-container {
  display: flex;
  align-items: center; /* Centra verticalmente el ícono de login */
}

#loginIcon {
  width: 40px;
  cursor: pointer;
}
/* -- --------------------------------------- -- */


/* -- Estilos del menú desplegable de usuario -- */
#dropdownMenu {
  position: absolute;
  right: 0;
  background-color: rgba(47, 123, 189, 0.8);
  border: none;
  padding: 10px;
  display: none;
  z-index: 1000;
  border-radius: 8px;
}

#dropdownMenu p {
  margin: 0 0 10px;
}

#logoutBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0; /* Elimina el padding para evitar recuadros adicionales */
  outline: none; /* Elimina el borde de enfoque */
}

#logoutBtn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#logoutBtn i {
  font-size: 18px;
  margin-right: 8px;
  color: white;
}

#logoutBtn:hover {
  color: #dcebf7;
}

.login-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
}
/* -- ------------------------------- -- */


/* -- Estilos de la barra lateral -- */
.hamburger {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
  transition: color 0.3s ease, transform 0.3s ease;
}

/* Estilo cuando la barra lateral está abierta */
.hamburger.active {
  color: #00d4ff; /* Cambia el color del icono */
  transform: rotate(90deg); /* Rotación para efecto visual */
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 8px;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.sidebar.open {
  width: 250px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}
/* -- ---------------------------- -- */


/* -- Estilos de la sección principal "main" -- */
main {
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url('img/backgrounds/white_wood_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px; /* Evita superposición con el header */
  margin-bottom: 70px; /* Espacio antes del footer */
  padding-bottom: 10px; /* Espacio adicional */
  min-height: calc(10vh - 80px);
  overflow-y: auto; /* Scroll solo en main */
}

.main_trips {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}
/* -- --------------------------------------- -- */


/* -- Estilos del pie de página "footer" -- */
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed; /* Mantiene el footer fijo en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}
/* -- ------------------------------------- -- */


/* -- Estilos responsivos para diferentes pantallas -- */

/* Para pantallas grandes */
@media (min-width: 1200px) {
  article {
    padding: 20px;
  }
  article img {
    height: 250px;
  }
  .main_trips {
    grid-template-columns: repeat(4, 1fr);
  }
}

/* Para pantallas medianas */
@media (max-width: 900px) {
  .main_trips {
    grid-template-columns: repeat(3, 1fr);
  }
  article img {
    height: 200px;
  }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .main_trips {
    grid-template-columns: repeat(1, 1fr);
  }
  article img {
    height: 150px;
  }

  .modal-content {
    width: 80%; /* Reducir el ancho del modal */
    padding: 20px; 
  }

  .close-modal {
    font-size: 24px;
    top: 5px;
    right: 5px;
  }

  .modal-content input[type="email"],
  .modal-content input[type="password"] {
    width: 80%;
    padding: 15px;
  }

  .modal-content button {
    padding: 15px;
    font-size: 14px;
  }

  .modal-content .forgot-password,
  .signup-link {
    font-size: 14px;
  }
}
/* -- ------------------------------------------- -- */


/* -- Estilos para artículos -- */
article {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 426px;
  margin-bottom: 20px; /* Espacio entre artículos */
}

article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: auto;
}

article h2 {
  margin: 10px 0;
}

a.read-more {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.read-more:hover {
  background-color: #555;
  border-color: #555;
}

.fav-button {
  font-size: 24px;
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease;
}

.fav-button.active {
  color: red;
}

.fav-button:hover {
  color: #555;
}

a {
  text-decoration: none;
  color: inherit;
}
/* -- -------------------------------------------- -- */


/* -- Estilos del Modal -- */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

.modal-content {
  background: linear-gradient(135deg, #004d80, #2f7bbd); /* Degradado similar a la imagen */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px; /* Ajusta según lo que prefieras */
  color: white; /* Color de texto blanco */
  position: relative;
  text-align: center; /* Centra el contenido */
  max-width: 90%;
  margin: auto;
}

.modal-content label {
  font-size: 14px;
  color: #c0c0c0;
}

.modal-content h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

.modal-content input[type="email"],
.modal-content input[type="password"] {
  width: 80%;
  padding: 15px;
  padding-left: 40px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

/* Cambia el placeholder a un color gris claro */
.modal-content input::placeholder {
  color: #c0c0c0;
}

.modal-content input:focus {
  outline: none;
  border-bottom: 2px solid #00d4ff;
}

.modal-content button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #00264d; /* Color del botón similar al adjunto */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #004080; /* Color de hover */
}

.modal-content .forgot-password {
  color: #c0c0c0;
  font-size: 14px;
  text-decoration: none;
}

.modal-content .forgot-password:hover {
  color: white;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 30px;
  color: white;
  cursor: pointer;
}
/* -- ------------------------------------- -- */


/* -- Contenedor de los iconos que se muestran -- */
.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 40px;
}

.input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
}
/* -- ------------------------------------- -- */


/* -- Estilos del checkbox del registro de sesion -- */
.modal-content .checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}
/* -- ------------------------------------- -- */

/* -- Estilos del modal de bienvenida -- */
.banner-message {
  background-color: #004080;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.banner-message p {
  margin: 0;
}

#welcomeModal {
  display: none; 
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

#welcomeModal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#welcomeModal .modal-content h2 {
  color: #25ffe2;
}

#welcomeModal .modal-content p {
  color: #25ffe2;
}

#welcomeModal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}
/* -- ------------------------------------- -- */


/* -- Pagina de registro de nuevo usuario "SIGN UP" -- */
.signup-link {
  margin-top: 15px;
  color: #c0c0c0;
  font-size: 14px;
}

.signup-link a {
  color: #00d4ff;
  text-decoration: none;
}

.signup-link a:hover {
  color: white; 
}

#signUpModal {
  display: none;
}
/* -- ------------------------------------- -- */

/* Mantener el autocompletar pero ajustar los estilos lo elimina tmbn*/
input:-webkit-autofill {
  background-color: transparent !important; /* Fondo transparente */
  color: white !important; /* Color del texto */
  -webkit-text-fill-color: white !important; /* Ajuste para el color del texto del autocompletar */
  border-bottom: 2px solid #00d4ff; /* Mantén el borde personalizado */
}

input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  background-color: transparent !important; /* Asegura que el fondo siga transparente */
  -webkit-text-fill-color: white !important; /* Asegura el color del texto correcto */
}

input:-webkit-autofill:focus {
  box-shadow: 0 0 0px 1000px transparent inset !important; /* Asegura que no haya fondo */
}