/* -- Estilos web generales -- */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-image: url('img/backgrounds/white_wood_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  overflow: hidden; /* Evita el scroll del body, delegándolo al main */
}
/* -- --------------------- -- */


/* -- Estilos para la parte superior "header" -- */
/* Estilos para el header */
.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 5px 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}

/* Envolver los elementos para distribuir el espacio */
.site-header__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

/* Botón de hamburguesa a la izquierda */
.hamburger {
  font-size: 24px;
  color: white;
  border: none;
  background: none;
  cursor: pointer;
  margin-right: auto;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

/* Navegación centrada */

.nav {
  order: -1;
}

.nav-center {
  display: flex;
  gap: 20px;
}

.nav-center a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

/* Imagen de inicio de sesión a la derecha */
.auth-container {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.login-icon {
  width: 40px;
  height: 40px;
  cursor: pointer;
}

/* Para el menú desplegable (si lo usas) */
/* .dropdown {
  position: absolute;
  top: 50px;
  right: 10px;
  background-color: #444;
  color: white;
  border-radius: 5px;
  padding: 10px;
} */

/* Ajustar la barra lateral (opcional) */
/* .sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333;
  color: white;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar.open {
  transform: translateX(0);
} */

/* Botón cerrar barra lateral */
/* .close-btn {
  font-size: 24px;
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  display: block;
  text-align: right;
  padding: 10px;
} */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px 0;
  position: fixed; /* Mantiene el header fijo en la parte superior */
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Asegura que esté sobre el contenido */
}

header h1 {
  font-size: 24px;
  margin: 10px 0;
  padding: 0; 
  line-height: 1.2;
}
/* -- --------------------------------------- -- */


/* #auth-container {
  display: flex;
  align-items: center;
} */

#loginIcon {
  width: 40px;
  cursor: pointer;
}

/* --------------- */
/* Estilo para el menú desplegable */
#dropdownMenu {
  position: absolute;
  right: 0;
  background-color: rgba(47, 123, 189, 0.8);
  border: none;
  padding: 10px;
  display: none;
  z-index: 1000;
  border-radius: 8px;
}


#dropdownMenu p {
  margin: 0 0 10px;
}

/* --------------- */
/* Icono de cerrar sesión */
#logoutBtn {
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 16px;
  padding: 0; /* Elimina el padding para evitar recuadros adicionales */
  outline: none; /* Elimina el borde de enfoque */
}

#logoutBtn img {
  width: 20px;
  height: 20px;
  margin-right: 8px;
}

#logoutBtn i {
  font-size: 18px;
  margin-right: 8px;
  color: white;
}

/* Cuando pasamos el cursor por el botón */
#logoutBtn:hover {
  color: #dcebf7;
}


/* .login-icon {
  width: 40px;
  height: auto;
  cursor: pointer;
  border-radius: 50%;
} */
/* --------------- */


.hamburger {
  font-size: 20px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
  position: fixed;
  top: 20px;
  left: 20px;
  z-index: 1001;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  z-index: 1000;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  padding: 8px;
}

.sidebar ul li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
  display: block;
  padding: 8px;
}

.sidebar ul li a:hover {
  background-color: #575757;
}

.sidebar.open {
  width: 250px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 36px;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  background-image: url('img/backgrounds/white_wood_background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-top: 80px; /* Ajuste para evitar que el contenido se superponga al header */
  margin-bottom: 70px; /* Asegura que haya espacio suficiente antes del footer */
  padding-bottom: 10px; /* Espacio adicional para evitar que el contenido se corte antes del footer */
  min-height: calc(10vh - 80px);
  overflow-y: auto; /* Mantén el scroll dentro del main */
}

.main_trips {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
  padding: 20px 0;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 5px;
  position: fixed; /* Mantiene el footer fijo en la parte inferior */
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
}


/* -- Organizar para varios dispositivos-tipos de pantalla -- */

  /* -- Como se muestran los Viajes -- */
    /* -- Para pantallas grandes -- */
@media (min-width: 1200px) {
  article {
    padding: 20px;
  }
  article img {
    height: 250px;
  }
  .main_trips {
    grid-template-columns: repeat(4, 1fr);
  }
}

    /* Para pantallas medianas */
@media (max-width: 900px) {
  .main_trips {
    grid-template-columns: repeat(3, 1fr);
  }
  article img {
    height: 200px;
  }
}

    /* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .main_trips {
    grid-template-columns: repeat(1, 1fr);
  }
  article img {
    height: 150px;
  }
}
  /* -- Como se muestran los Viajes -- */

    /* Para pantallas pequeñas (móviles) */
@media (max-width: 600px) {
  .modal-content {
    width: 80%; /* Reducir el ancho del modal al 90% de la pantalla */
    padding: 20px; 
  }

  /* Ajustar el botón de cierre (X) para que siempre sea visible */
  .close-modal {
    font-size: 24px; /* Aumentar ligeramente el tamaño del botón para que sea más fácil de pulsar */
    top: 5px;
    right: 5px;
  }

  /* Ajuste de los inputs en el modal */
  .modal-content input[type="email"],
  .modal-content input[type="password"] {
    width: 80%; /* Asegura que los inputs ocupen todo el ancho disponible */
    padding: 15px;
  }

  /* Ajuste del botón de login */
  .modal-content button {
    padding: 15px; /* Reducir el padding del botón para que no sea demasiado grande */
    font-size: 14px;
  }

  /* Ajuste del texto y enlace de "Forgot Password?" */
  .modal-content .forgot-password,
  .signup-link {
    font-size: 14px; /* Hacer que el texto sea un poco más pequeño para ajustarse mejor en pantallas pequeñas */
  }
}
/* -- ---------------------------------------------------- -- */


/* Estilos globales para todos los elementos <article> */
article {
  position: relative;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 10px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-height: 426px;
  margin-bottom: 20px; /* Añadido para dar espacio entre artículos */
}

article img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
  display: block;
  margin: auto;
}

article h2 {
  margin: 10px 0;
}

a.read-more {
  margin-top: 10px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #333;
  color: white;
  border: 2px solid #333;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

a.read-more:hover {
  background-color: #555;
  border-color: #555;
}

.fav-button {
  font-size: 24px;
  border: none;
  background: none;
  color: gray;
  cursor: pointer;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: color 0.3s ease;
}

.fav-button.active {
  color: red;
}

.fav-button:focus,
.fav-button:hover {
  outline: none;
  box-shadow: none;
}

.fav-button:hover {
  color: #555;
}


a {
  text-decoration: none;
  color: inherit;
}


/* Estilos del Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

/* Estilos del contenido del modal */
.modal-content {
  background: linear-gradient(135deg, #004d80, #2f7bbd); /* Degradado similar a la imagen */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  width: 400px; /* Ajusta según lo que prefieras */
  color: white; /* Color de texto blanco */
  position: relative;
  text-align: center; /* Centra el contenido */
  max-width: 90%;
  margin: auto;
}

/* Botón para cerrar */
.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}

/* Estilos de los inputs */
.modal-content input[type="email"],
.modal-content input[type="password"] {
  width: 80%;
  padding: 15px;
  padding-left: 40px;
  margin: 10px 0;
  border: none;
  border-bottom: 2px solid white;
  background: transparent;
  color: white;
  font-size: 16px;
}

/* Cambia el placeholder a un color gris claro */
.modal-content input::placeholder {
  color: #c0c0c0;
}

.modal-content input:focus {
  outline: none;
  border-bottom: 2px solid #00d4ff;
}

/* Contenedor de input con icono */
.input-icon {
  position: relative;
}

.input-icon input {
  padding-left: 40px; /* Añade espacio para el icono */
}

/* Estilos del icono */
.input-icon i {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 18px;
}

/* Estilos del checkbox */
.modal-content .checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.modal-content label {
  font-size: 14px;
  color: #c0c0c0;
}

/* Estilos del botón de login */
.modal-content button {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #00264d; /* Color del botón similar al adjunto */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.modal-content button:hover {
  background-color: #004080; /* Color de hover */
}

/* Estilos del enlace "Forgot Password?" */
.modal-content .forgot-password {
  color: #c0c0c0;
  font-size: 14px;
  text-decoration: none;
}

.modal-content .forgot-password:hover {
  color: white;
}

/* Ajustes finales */
.modal-content h2 {
  margin-bottom: 20px;
  color: white;
  font-size: 24px;
}

.signup-link {
  margin-top: 15px;
  color: #c0c0c0;
  font-size: 14px;
}

.signup-link a {
  color: #00d4ff; /* Color del enlace */
  text-decoration: none;
}

.signup-link a:hover {
  color: white; /* Cambiar color al pasar el cursor */
}

/* Estilos del banner */
.banner-message {
  background-color: #004080;
  color: white;
  padding: 10px;
  text-align: center;
  font-size: 14px;
  border-radius: 5px;
  margin-bottom: 15px; /* Espacio debajo del banner para separar del formulario */
}

.banner-message p {
  margin: 0;
}


/* Estilos del modal de bienvenida */
#welcomeModal {
  display: none; /* Oculto por defecto */
  position: fixed;
  z-index: 1001;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}

#welcomeModal .modal-content {
  background-color: #fff;
  margin: 15% auto;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: center;
}

#welcomeModal .modal-content h2 {
  color: #25ffe2;
}

#welcomeModal .modal-content p {
  color: #25ffe2;
}

#welcomeModal .close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 18px;
  color: white;
}

#signUpModal {
  display: none;
}


